@media only screen and (min-width: 1200px) {
/* Terceira sessão Cardápio */
.third-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 29, 29, 0.7);
}

.third-section h2{
    text-transform: uppercase;
    color: #E6E6E6;
    font-size: clamp(0.5rem, 2.5vw, 3rem);
    margin-top: 3rem;
    background-color: #f7150d;
    border-radius: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.itens-cardapio-pizza, .itens-cardapio-esfihara, .itens-cardapio-porcoes{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.itens-cardapio-pizza .info, .itens-cardapio-esfihara .info, .itens-cardapio-porcoes .info{
    background-color: #E6E6E6;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem 0 .5rem 0;
    border: 3px solid #E6E6E6;
}

.itens-cardapio-pizza img, .itens-cardapio-esfihara img, .itens-cardapio-porcoes img{
    width: 100%;
    height: 22rem;
    border: 3.5px solid #F84B46;
}

.itens-cardapio-pizza .pedir, .itens-cardapio-esfihara .pedir, .itens-cardapio-porcoes .pedir{
    cursor: pointer;
    background-color: #F84B46;
    padding: 0.6rem 3rem;
    border: 3px solid #f7150d;
    border-radius: 10px;
    color: #E6E6E6;
    font-size: clamp(0.5rem, 1.0vw, 2rem);
    font-style: bold;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    transition:  all 300ms ease-in-out;
    margin-top: 1rem;
}

.pedir:hover{
    background-color: #E6E6E6;
    color: #f7150d;
    transition:  all 300ms ease-in;
}

.pedir:active{
    border: 3px solid #f7150d;
    background-color: #E6E6E6;
    color: #f7150d;
}

.itens-cardapio-pizza h3, .itens-cardapio-esfihara h3, .itens-cardapio-porcoes h3{
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.itens-cardapio-pizza h4, .itens-cardapio-esfihara h4, .itens-cardapio-porcoes h4{
    font-size: clamp(0.5rem, 2rem);
    justify-content: center;
    align-items: center;
}

.itens-cardapio-pizza .info h4 span, .itens-cardapio-esfihara .info h4 span, .itens-cardapio-porcoes .info h4 span{
    font-size: clamp(0.5rem, 2rem);
    margin-left: 2rem;
    text-transform: bold;
    color: #016B38;
}

details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

summary{
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    color: #E6E6E6;
    font-size: clamp(0.5rem, 2.5vw, 3rem);
    font-weight: 600;
}

.verMaisPizza, .verMenosPizza, 
.verMaisEsfihas, .verMenosEsfihas
.verMaisPorcoes, .verMenosPorcoes
{
    color: #E6E6E6;
    font-size: clamp(0.5rem, 2vw, 3rem);
}

.detailsCardapio{
    text-align: center;

}

details .itens-cardapio-pizza{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
}